

{% block body %}

    <div class="ml-5">
        <div class="row">
                <a href="{{ url('productPage', {'product':product.id}) }}">
                    <div class="card " style="width: 21rem; height: 40rem; margin: 30px 30px 0 30px;">
                        <img class="card-img-top" height="300px" src="{{ asset('images/' ~ product.productImages.first) }}" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="text-success font-weight-bold">{{ product.price }} RON</p>
                            {% if app.user%}
                            <a href="{{ url('cart_add',{'product':product.id}) }}" class="btn btn-secondary">Adauga in cos</a>
                            {% else %}
                            <a href="{{ url('cart_add',{'product':product.id}) }}" class="d-none btn btn-secondary">Adauga in cos</a>
                                <p class="text-danger font-weight-bold">Trebuie sa va logati pentru a introduce produsele in cos !!</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
        </div>
    </div>
{% endblock %}
